.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: var(--main-bg-color);
  border-bottom: 2px solid var(--yellow);
  min-height: 6rem;
}

@media (max-width: 768px) {
  .nav {
    gap: 1rem;
    padding: 1rem;
  }
}

.navLink {
  color: var(--gray);
}

.navLink__active {
  color: var(--yellow);
}
